* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  background: #afeafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #afeafa 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #afeafa 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #afeafa 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afeafa', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  min-height: 100%;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
}

nav {
  margin: 5px 0px 10px 0px;
  text-align: center;
}

img {
  width: 100%;
}

nav ol li {
  display: inline-block;
  background-color: #578094;
  width: 20%;
  padding: 5px 0px 5px 0px;
  border-right: 1px white solid;
}

nav a {
  color: white;
  text-decoration: none;
}

article {
  width: 24%;
  vertical-align: top;
  height: 12.5rem;
  /* 200/16 */
  overflow: auto;
  margin: 5px 1.3333% 5px 0px;
  border: 1px solid black;
  display: inline-block;
  color: white;
}

h2 {
  font-size: 1.25rem;
  /* 20/16 */
  text-align: center;
}

p {
  font-size: 0.75rem;
  /* 12/16 */
  text-align: left;
  padding: 10px 5px 0px 5px;
}

main a {
  font-size: 0.813rem;
  /* 13/16 */
  text-align: left;
  color: white;
  padding: 25px 5px 0px 5px;
  display: block;
}

li:hover {
  background: #20a334;
  /* Old browsers */
  background: -moz-linear-gradient(left, #20a334 0%, #2178b2 33%, #fc282b 68%, #f2ea07 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #20a334 0%, #2178b2 33%, #fc282b 68%, #f2ea07 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #20a334 0%, #2178b2 33%, #fc282b 68%, #f2ea07 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a334', endColorstr='#f2ea07', GradientType=1);
  /* IE6-9 */
}

.companies {
  background-color: #e7de00;
}

.universities {
  background-color: red;
}

.organisations {
  background-color: rgb(5, 122, 161)
}

.news {
  background-color: rgb(75, 139, 17);
  padding-bottom: 5px;
  margin-right: 0;
}

footer {
  margin: 5px 0px 5px 0px;
  font-size: 0.75rem;
  /* 12/16 */
  background-color: white;
  border: 1px solid black;
  text-align: center;
}



@media screen and (max-width: 768px) {
  body{
    width: 95%;
  }
  .companies {
    width: 48%;
  }
  .universities {
    width: 48%;
    margin-right: 0;
  }
  .organisations {
    width: 48%;
  }
  .news {
    width: 48%;
  }
  .companies, .organisations {
    margin-right: 4%;
  }
  nav ol li {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  nav ol li {
    width: 100%;
  }
body {
  width: 95%;
}
  .companies {
    width: 100%;
  }
  .universities {
    width: 100%;
    margin-right: 0;
  }
  .organisations {
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .companies, .organisations {
    margin-right: 0%;
  }
}
